---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../layouts/Navbar.astro";
import Footer from "../../layouts/Footer.astro";

import ServicePreview from "../../layouts/ServicePreview.astro";
import Packages from "../../layouts/Packages.astro";
import Package from "../../layouts/Package.astro";
import EmptyComparison from "../../layouts/EmptyComparison.astro";

const sleepRabbit = ['1TB HDD Storage', 'Server-side encryption', 'RAID 6 configured', 'Unmetered Bandwidth*', 'NextCloud panel', 'Support included'];
const fastRabbit = ['3TB HDD Storage', 'Server-side encryption', 'RAID 6 configured', 'Unmetered Bandwidth*', 'NextCloud panel', 'Support included'];
const crazyRabbit = ['7TB HDD Storage', 'Server-side encryption', 'RAID 6 configured', 'Unmetered Bandwidth*', 'NextCloud panel', 'Support included'];

---

<Layout title="PbtSystems | Official Hosting Provider">
	<Navbar active="storage"></Navbar>

	<ServicePreview
		title="Hosting de Almacenamiento"
		description="¿Qué es el Almacenamiento en la Nube? El almacenamiento en la nube (a veces llamado «almacenamiento basado en la nube») te permite archivar tus documentos, fotos y archivos en una ubicación segura fuera de tu dispositivo."
		image="/images/services/cloud.jpg">
	</ServicePreview>

	<div class="relative bg-gray-800">
		<div class="max-w-7xl mx-auto pt-24 pb-24 px-4 sm:px-6 lg:px-8">
			<div class="sm:flex sm:flex-col sm:align-center">
				<h1 class="text-5xl font-extrabold text-white sm:text-center">Planes de Almacenamiento --></h1>
			</div>
			<div class="mt-12">
				<div class="rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<a href="https://tickets.pbtservers.com" target="_blank">
							<img class="mt-3 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl" src="/images/services/PbtHosting-Planes-Almacenamiento-Parte1.png" alt="PbtHosting-Almacenamiento1">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Footer></Footer>
	<script is:inline src="/js/default.js"></script>
</Layout>